@import "variables"

.header
  background-color: $background-color
  color: $color
  height: $header-height
  nav
    a
      margin-right: 20px
      text-decoration: none
      color: $color
      text-transform: uppercase
      &:active
        color: white
    a:last-child
      margin-right: 0
